* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #8CCAE0;
    text-align: center;
    padding: 10px;
}

h1{
    font-size: 30px;
    padding: 20px;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header ul li{
    padding: 0 30px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

main img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

[team] {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}